@if (Depth != 0)
{
    <div>
        <NestedComponent Depth="Depth-1" OnButtonClick="HandleButtonClick" />
    </div>
}
else
{
    <button id="button" @onclick="HandleButtonClick">Click me!</button>
}

@code {
    [Parameter] public int Depth { get; set; }
    [Parameter] public EventCallback OnButtonClick { get; set; }

    private Task HandleButtonClick()
    {
        return OnButtonClick.InvokeAsync();
    }
}
