@if (Counter != 0)
{
    <div>
        <NestedComponent Counter="@(Counter - 1)" Value="@Value" />
    </div>
}
else
{
    @Value
}

@code {
    [Parameter] public int Counter { get; set; }
    [Parameter] public int Value { get; set; }
}
